.header {
  display:flex;
  justify-content:space-around;
  font-size:15px;
  color:#0f65ef;
  font-weight:bold;
}
.logo{
    height:50px;
    width:125px;
}
body{
    background-color:white;
}

.siliconValley {
    width: 50%;
    height:50%;
}

#caption {
    font-size: 20px;
}

#firstt{
    display:flex;
    justify-content:center;
}
#name{
    display:flex;
    justify-content:center;
}

a {
    color: #0f65ef;
    font-weight: bold;
}


.result {
   text-align:center;
}

#clicker {
     margin-top: 10px;
    color: white;
    background-color: red;
    font-size: 40px;
    border-radius: 25px;
    border:3px groove black ;
    font-family: monospace;
}


